.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 165px;
    margin-right: 165px;
}
.header__logo {
    display: flex;
    align-items: center;
    margin-top: 29px;
    margin-right: 296px;
}

.e3 {
    margin-right: 5px;
}

.name {
    margin-right: 5px;
    font-family: "Ubuntu";
    font-size: 20px;
    font-weight: 300px;
}

.r3 {
    margin-right: 5px;
}

nav {
    display: flex;
    flex-grow: 1;
    justify-content: space-around;
}

.header__menu {
    margin-top: 28px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.header__menu-item {
    margin-right: 60px;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 400px;
    color: #4C5866;
}
.search {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 30px;
    height: 24px;
    width: 24px;
    background: #fff;
    border: none;
}
.log-in {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 24px;
    width: 24px;
    background: #fff;
    border: none;
}
.main {
    display: flex;
    justify-content: space-between;
    border-top: solid 1px;
    border-color: #DDDDDD;
    padding-right: 165px;
    padding-left: 165px;
}
.photo {
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-left: 125px;
}
.text {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
    max-width: 445px;
    padding-top: 130px;
}
h1 {
    flex-wrap: wrap;
    font-family: "Roboto", sans-serif;
    font-size: 60px;
    font-weight: 400px;
    color: #4C5866;
}
p {
    flex-wrap: wrap;
    font-family: Roboto;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #85859B;
}
.btn1 {
    border: 1px solid #7875FE;
    background: #fff;
    min-height: 70px;
    min-width: 255px;
    font-family: Roboto;
    font-weight: 400;
    font-size: 20px;
    color: #7875FE;
    
}
.btn1:hover{
    background: #7875FE;
    cursor: pointer;
    color: #fff;
}
.btn1:focus{
    background: #DAD9FB;
    color:#7875FE ;
}
.btn1:active{
    background: #4946B4;
    color: #fff;
}
.main2 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background: #d5d5d5;
    padding-left: 165px;
    padding-right: 165px;
}
.main2__line {
    display: flex;
    justify-content: space-between;
    margin-top: 90px;
}
.main2__line-V {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-right: 30px;
    max-width: 350px;
    max-height: 139px;
    padding-top: 20px;
    border-top: 1px solid #C0C0C0;
}
.v1-ph {
    margin-right: 30px;
}
.v-txt {
    font-family: Roboto;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
}
.txt {
    font-family: Roboto;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
}
.v1text {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 19px
}
.main2__main {
    display: flex;
    justify-content: space-between;
}
.main2__img {
    margin-top: 90px;
    max-width: 730px;
    max-height: 564px;
}
.main2__text {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    max-width: 350px;
    max-height: 445px;
    margin-top: 149px;
    margin-left: 30px;
}
.main2__p1 {
    font-family: Roboto;
    font-weight: 400;
    font-size: 40px;
    color: #666666;
}
.main2__p2 .main2__p3 {
    font-family: Roboto;
    font-weight: 400;
    font-size: 18px;
    line-height: 170%;
    color: #666666;
}
.main3{
    display: flex;
    justify-content: space-between;
    margin-left: 165px;
    margin-right: 165px;
    margin-top: 90px;
}
.main3__items{
    display: flex;
    flex-direction: column;
    max-width: 255px;
    max-height: 465px;
    margin-bottom: 90px;
}
.btn2{
    background: #fff;
    border: none;
    display: flex;
    justify-content: flex-start;
    max-width: 129px;
    max-height: 23px;
}
.btn2:hover{
    background: #DAD9FB;
    max-width: 137px;
    max-height: 31px;
}
.main3__name{
    font-family: Roboto;
    font-weight: 400;
    font-size: 30px;
    color: #666666;
}
.main3__tir{
    font-family: Roboto;
    font-weight: 400;
    font-size: 14px;
    color: #B5B5BD;
}
.main3__desc{
    font-family: Roboto;
    font-weight: 400;
    font-size: 18px;
    line-height: 170%;
    color: #85859B;
}
.main__logo{
    max-height: 315px;
    max-width: 1440px;
    background: #d5d5d5;
    margin-top: 90px;
    padding: 90px 165px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.main__logo__items{
    max-width: 255px;
    max-height: 135px;
    border: 1px solid #C4C4C4

}
.main4{
    display: flex;
    justify-content: space-between;
}
.main4__P{
    margin-top: 114px;
    margin-bottom: 114px;
    margin-left: 165px;
    max-width: 350px;
    max-height: 272px;
    display: flex;
    flex-direction: column;
}
.main4__head{
    font-family: Roboto;
    font-weight: 400;
    font-size: 40px;
    color: #666666;
}
.main4__desc{
    font-family: Roboto;
    font-weight: 400;
    font-size: 18px;
    line-height: 170%;
    color: #85859B;
}
.btn3{
    border: 1px solid #7875FE;
    background: #fff;
    min-height: 70px;
    min-width: 255px;
    font-family: Roboto;
    font-weight: 400;
    font-size: 20px;
    color: #7875FE;
}
.btn3:hover{
    background: #7875FE;
    cursor: pointer;
    color: #fff;
}
.btn3:focus{
    background: #DAD9FB;
    color:#7875FE ;
}
.btn3:active{
    background: #4946B4;
    color: #fff;
}
.main4__img{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin-right: 165px;
}
.footer__logo {
    display: flex;
    justify-content: space-between;
    margin-top: 29px;
    color: #fff;
    background: #4C5866;
    
    max-height: 80px;

}
.footer__logo__name{
    display: flex;
    align-items: center;
    margin-left: 162px;
}
.footer__btns{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 165px;
}
.btn__logo{
    background: #4C5866;
    border: none;
}
.footer__name{
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.footer__name1{
    font-family: Roboto;
    font-weight: 400;
    font-size: 13px;
    color: #4C5866;
}
button:hover{
    cursor: pointer;
}
a:hover{
    color: #7875FE;
}
a:focus{
    background: #DAD9FB;
    color: #4C5866;
}
a:active{
    color: #4946B4;
}



